body
{
    background-color: black;
}

#retangulo1 
{
    background-color: rgb(10, 33, 236);
}
.retangulos
{
    position: relative;
    float: left;
    width: 100px;
    height: 200px;
    background-color: aquamarine;
    margin-top: 5%;
    margin-left: 5%;
}